input { 
    /* решила использовать свойство appearance для 
    скрытия стандартных input-ов, т.к. значение none
    поддерживается во многих браузерах*/
    appearance: none;
}
input:checked + label, 
input:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;    
}

input:checked + label:before, 
input:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid #979797;    
    background-color: #ebe7e7;
    border-radius: 100%;    
}

input:not(:disabled):focus + label::before {
    box-shadow: 0 0 0 1.5px #45b4d6;
}

input:not(:disabled):active+label::before {  
    background:rgb(190, 187, 187);
  }


input:checked + label:after, 
input:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:checked + label:after, 
input:not(:checked) + label:after {
    left: 4px;
    top: 7px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #050505;
}

input:not(:checked) + label:after {
    opacity: 0;
}

input:checked + label:after {
    opacity: 1;
    background-color: #050505;
}
input:hover + label:before {
    background-color: #c3c0c0;
}
input[disabled]:checked + label:after {
    background-color: #747373;
}
input[disabled]:checked + label:before {
    background-color: #c0bebe;
    border: 1px solid #979797;    
    
}
input[disabled] + label:before {
    background-color: #c0bebe;
    border: 1px solid #979797;
}
input[disabled] + label{
    color: #979797;
}