*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, 
li {
  padding: 0px;
  margin: 0px;
}
html, 
body {
margin: 0 auto;
}
.nav {
    list-style-type: none;
    height: 60px;
    width: 650px;
    padding-top: 12px;
    border: thick double #d6e6ec;
}
li:first-child {
    margin-left: 30px;
    font-weight: 700;
}
li:last-child {
    margin-right: 30px;
}
li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: rgb(0 0 0);
}
a:hover{
    color: #3072C4;
}
li:not(:first-child)::before{
    content: "♦";
    margin-right: 30px;
}